# include meta data
include LICENSE
include README.rst
# include documentation
recursive-include docs *.py *.rst *.css *.html
# include tests and files needed by tests (except large files)
include tox.ini
include .pylintrc
include .resolwebio-filetypes.yml
include tests/.env
recursive-include tests *.py *.yml *.yaml *.rst
recursive-include resolwe_bio/tests *.py
recursive-include resolwe_bio/kb/tests *.py
recursive-include resolwe_bio/tests/files *
prune resolwe_bio/tests/files/large
# include files needed to build Docker images
recursive-include resolwe_bio/docker_images Dockerfile Dockerfile.* README.md *.sh *.txt *.tex *pdf .placeholder *.html *.yml *.png *.css *.eot *.svg *.ttf *.woff *.woff2
