# Include meta data.
include LICENSE
# Include documentation and files needed by documentation.
recursive-include docs *.py *.rst *.css *.html
# Include tests and files needed by tests (except large files).
include tox.ini
include pyproject.toml
include .pylintrc
include .resolwebio-filetypes.yml
include tests/.env
include tests/docker-compose.yml
recursive-include tests *.py *.yml *.yaml *.rst
recursive-include resolwe_bio/tests *.py
recursive-include resolwe_bio/kb/tests *.py
recursive-include resolwe_bio/tests/files *
prune resolwe_bio/tests/files/large
# Include files needed to build Docker images.
recursive-include resolwe_bio/docker_images Dockerfile Dockerfile.* README.md *.sh *.txt *.tex *pdf .placeholder *.html *.yml *.png *.css *.eot *.svg *.ttf *.woff *.woff2
